.logPanel {
    margin: 50px 30%;
  }
  .register {
    font-weight: bold;
    text-decoration: underline;
    color: blue;
  }
  
  .register:hover {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: blue;
  }