.header {
    width: 100%;
    background-color: #3f51b5;
    font-size: 45px;
    color: white;
    height: 100px;
    line-height: 100px;
  }
  .sub-header {
    font-size: 20px;
  }
  .layout {
    min-height: 300px;
  }
  .footer {
    width: 100%;
    background-color: #3f51b5;
    text-align: center;
    color: white;
  }